@import '~bootstrap';

$bg-color: rgb(225, 225, 225);
$bg-green: #198754;
$color-white: #FFF;
$color-black: #162636;
$danger-color: red;

body {
    background-color: $bg-color;
}

.navbar {
    //background-color: #198754;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.gradient-custom {
    /* fallback for old browsers */
    background: $bg-color;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.bg-green {
    background-color: $bg-green;
}

.text-white {
    color: $color-white;
}

.text-black {
    color: $color-black;
}

.content-green {
    background-color: $bg-green !important;
    color: $color-white !important;
}

.text-green {
    color: $bg-green;
}

.main-sidebar {
    position:fixed;
    max-width: 15%;
    z-index: 1000;
    left: 0;
    border-right: 1px solid #162636;
    height: 100%;
    top: 56px;
}

.main-bar {
    position:fixed;
    max-width: 81%;
    z-index: 1000;
    right: 0;
    height: auto;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
    top: 56px;
    padding-bottom: 20%;
}

.simple-form-long {
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    box-shadow: 0px 1px 5px;
    padding: 20px;
    width: 100%;
}

#collapsibleNavbar {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.nav-link .active {
    background-color: $bg-color !important;
    color: black !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: $bg-color;
    color: $color-black;
}

#typePasswordX::placeholder {
    color: $danger-color;
    font-size: 12pt;
}

#typeEmailX::placeholder {
    color: $danger-color;
    font-size: 12pt;
}

legend {
    font-size: 1.5rem;
    border-bottom: 1px solid green;
    margin-bottom: 40px;
}

.input-group-text {
    background-color: $bg-green;
    color: $color-white;
}

.table-header-green {
    background-color: $bg-green !important;
}

.detailview-subtitles {
    text-align: center;
    color: #fff;
    background-color: $bg-green;
}

.detailview-subtitles th {
    color: #fff !important;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2000;
    bottom: 0;
    background-color: $color-black !important;
}

.validation-issue {
    border: 1px solid $danger-color;
}

.validation-issue::placeholder {
    color: $danger-color;
    font-size: 12px;
}

.text-red {
    color: $danger-color;
    font-weight: bold;
}

.page-item:not(:first-child) .page-link {
    background-color: $bg-green;
    color: $color-white;
}

.page-link {
    color: $color-white;
    background-color: $bg-green;
}

.list-header {
    background-color: $bg-green;
}

.list-header a {
    text-decoration: none;
    color: $color-white;
    border-bottom: 1px solid $color-white;
}

.page-item.disabled .page-link {
    background-color: $bg-green;
    color: $color-white;
}

.page-item.active .page-link {
    background-color: $color-white;
    color: $bg-green;
    border-color: $bg-green;
}

@media screen and (min-width: 900px) {
    .sidebar-nav span {
        display: block;
    }

    .sidebar-nav .sidebar-img {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .main-sidebar {
        max-width: 10%;
    }

    .main-bar {
        max-width: 86%;
    }

    .sidebar-nav span {
        display: none;
    }

    .sidebar-nav .sidebar-img {
        display: block;
    }

    .nav-pills .nav-link.active {
        width: 50px;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        width: 55px !important;
    }

    .side-nav {
        margin-bottom: 10px;
        background-color: $bg-color;
        border-radius: 0.25rem;
    }
}
