@import '~bootstrap';

$bg-color: rgb(225, 225, 225);
$bg-green: #198754;
$color-white: #FFF;
$color-black: #162636;
$danger-color: red;

$bar-color: $color-white;
$ball-color: $bg-green;

body {
    background-color: $bg-color;
}

.navbar {
    //background-color: #198754;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.gradient-custom {
    /* fallback for old browsers */
    background: $bg-color;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.bg-green {
    background-color: $bg-green;
}

.text-white {
    color: $color-white;
}

.text-black {
    color: $color-black;
}

.content-green {
    background-color: $bg-green !important;
    color: $color-white !important;
}

.text-green {
    color: $bg-green;
}

.main-sidebar {
    position:fixed;
    max-width: 15%;
    z-index: 1000;
    left: 0;
    border-right: 1px solid #162636;
    height: 100%;
    top: 56px;
}

.main-bar {
    position:fixed;
    max-width: 81%;
    z-index: 1000;
    right: 0;
    height: auto;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
    top: 56px;
    padding-bottom: 20%;
}

.simple-form-long {
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    box-shadow: 0px 1px 5px;
    padding: 20px;
    width: 100%;
}

#collapsibleNavbar {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.nav-link .active {
    background-color: $bg-color !important;
    color: black !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: $bg-color;
    color: $color-black;
    cursor: pointer;
}

#typePasswordX::placeholder {
    color: $danger-color;
    font-size: 12pt;
}

#typeEmailX::placeholder {
    color: $danger-color;
    font-size: 12pt;
}

legend {
    font-size: 1.5rem;
    border-bottom: 1px solid green;
    margin-bottom: 40px;
}

.input-group-text {
    background-color: $bg-green;
    color: $color-white;
}

.table-header-green {
    background-color: $bg-green !important;
}

.detailview-subtitles {
    text-align: center;
    color: #fff;
    background-color: $bg-green;
}

.detailview-subtitles th {
    color: #fff !important;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2000;
    bottom: 0;
    background-color: $color-black !important;
}

.validation-issue {
    border: 1px solid $danger-color;
}

.validation-issue::placeholder {
    color: $danger-color;
    font-size: 12px;
}

.text-red {
    color: $danger-color;
    font-weight: bold;
}

.page-item:not(:first-child) .page-link {
    background-color: $bg-green;
    color: $color-white;
}

.page-link {
    color: $color-white;
    background-color: $bg-green;
}

.list-header {
    background-color: $bg-green;
}

.list-header a {
    text-decoration: none;
    color: $color-white;
    border-bottom: 1px solid $color-white;
}

.page-item.disabled .page-link {
    background-color: $bg-green;
    color: $color-white;
}

.page-item.active .page-link {
    background-color: $color-white;
    color: $bg-green;
    border-color: $bg-green;
}

@media screen and (min-width: 900px) {
    .sidebar-nav span {
        display: block;
    }

    .sidebar-nav .sidebar-img {
        display: none;
    }
}

.modal-default-button {
    margin-left: 10px;
}

.btn-light {
    background-color: transparent;
}

//pPreloader
.loader {

    position: relative;
    width: 75px;
    height: 100px;

    &__bar {
        position: absolute;
        bottom: 0;
        width: 10px;
        height: 50%;
        background: $bar-color;
        transform-origin: center bottom;
        box-shadow: 1px 1px 0 rgba(0,0,0,.2);

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                left: ($i - 1) * 15px;
                transform: scale(1,$i*.2);
                animation: barUp#{$i} 4s infinite;
            }
        }

    }

    &__ball {
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 10px;
        height: 10px;
        background: $ball-color;
        border-radius: 50%;
        animation: ball 4s infinite;
    }
}

@keyframes ball {
    0% {
        transform: translate(0, 0);
    }
    5% {
        transform: translate(8px, -14px);
    }
    10% {
        transform: translate(15px, -10px)
    }
    17% {
        transform: translate(23px, -24px)
    }
    20% {
        transform: translate(30px, -20px)
    }
    27% {
        transform: translate(38px, -34px)
    }
    30% {
        transform: translate(45px, -30px)
    }
    37% {
        transform: translate(53px, -44px)
    }
    40% {
        transform: translate(60px, -40px)
    }
    50% {
        transform: translate(60px, 0)
    }
    57% {
        transform: translate(53px, -14px)
    }
    60% {
        transform: translate(45px, -10px)
    }
    67% {
        transform: translate(37px, -24px)
    }
    70% {
        transform: translate(30px, -20px)
    }
    77% {
        transform: translate(22px, -34px)
    }
    80% {
        transform: translate(15px, -30px)
    }
    87% {
        transform: translate(7px, -44px)
    }
    90% {
        transform: translate(0, -40px)
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes barUp1 {
    0% {
        transform: scale(1, .2);
    }
    40%{
        transform: scale(1, .2);
    }
    50% {
        transform: scale(1, 1);
    }
    90% {
        transform: scale(1,1);
    }
    100% {
        transform: scale(1,.2);
    }
}
@keyframes barUp2 {
    0% {
        transform: scale(1, .4);
    }
    40% {
        transform: scale(1, .4);
    }
    50% {
        transform: scale(1, .8);
    }
    90% {
        transform: scale(1, .8);
    }
    100% {
        transform: scale(1, .4);
    }
}
@keyframes barUp3 {
    0% {
        transform: scale(1, .6);
    }
    100% {
        transform: scale(1, .6);
    }
}
@keyframes barUp4 {
    0% {
        transform: scale(1, .8);
    }
    40% {
        transform: scale(1, .8);
    }
    50% {
        transform: scale(1, .4);
    }
    90% {
        transform: scale(1, .4);
    }
    100% {
        transform: scale(1, .8);
    }
}
@keyframes barUp5 {
    0% {
        transform: scale(1, 1);
    }
    40% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1, .2);
    }
    90% {
        transform: scale(1, .2);
    }
    100% {
        transform: scale(1, 1);
    }
}

@media screen and (max-width: 900px) {
    .main-sidebar {
        max-width: 10%;
    }

    .main-bar {
        max-width: 86%;
    }

    .sidebar-nav span {
        display: none;
    }

    .sidebar-nav .sidebar-img {
        display: block;
    }

    .nav-pills .nav-link.active {
        width: 50px;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        width: 55px !important;
    }

    .side-nav {
        margin-bottom: 10px;
        background-color: $bg-color;
        border-radius: 0.25rem;
    }
}
